/* regole generali */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* regole utili */

.name_point {
  padding-top: 15px;
}

.indicator {
  font-size: 30px;
  line-height: middle;
}

.new_point_title {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  line-height: middle;
}

.indicator-verificated {
  background-color: white;
  border-radius: 50%;
  border: 1px solid green;
  color: green;
  padding: 1px;
}

.write_text {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.indicator-verificated-no {
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(255, 0, 0);
  color: red;
}

/* fine regole utili */

#intestazione {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

#logo {
  margin-left: 15px;
  display: inline-block;
  line-height: middle;
  line-height: middle;
}

#title_header {
  color: rgb(0, 0, 0);
  font-size: 18px;
  display: inline-block;
  line-height: middle;
  line-height: middle;
}

/* parte inerente ad header*/

/* inizio parte inerente al main*/
.container-out {
  background-color: rgb(137, 138, 136);
  padding: 50px 20px;
}

.container-middle {
  background-color: rgb(245, 241, 237);
  max-width: 1100px;
  margin: 0 auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container-in {
  padding-left: 30px;
  padding-bottom: 2px;
}

/* parte inerente ai contenitori */

/* parte inerente alla prima parte di sezione con i tasti */

/* parte inerente alla sezione dei tasti di new task */

.add_task {
  background-color: rgb(0, 153, 255);
  color: white;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}
.add_section {
  background-color: rgb(255, 255, 255);
  color: rgba(70, 70, 70, 0.459);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}

.editorial {
  border-radius: 150px;
  background-color: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}

.q1-goals {
  border-radius: 150px;
  background-color: rgba(255, 0, 251, 0.87);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}

.recruting {
  border-radius: 200px;
  background-color: rgba(0, 255, 102, 0.87);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}

.mobile {
  border-radius: 30%;
  background-color: rgba(255, 196, 0, 0.87);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}

.website {
  border-radius: 150px;
  background-color: rgba(202, 60, 224, 0.959);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}

.sales {
  border-radius: 150px;
  background-color: rgba(138, 205, 79, 0.725);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 10px 0px;
  padding: 3px;
}
