* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#intestazione {
  background-color: rgb(245, 242, 242);
}

#logo {
  margin-left: 15px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: grey;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: black;
}
